[Unit]
Description=Udiskie automounter for removable media
Documentation=man:udiskie(8)
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/udiskie --tray --notify
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
